* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.iconStyle {
  margin: 0 5px -2px 0;
  font-size: 22px;
}
@media(max-width: 768px) {
  .iconStyle {
    font-size: 17px;
  }
}